{% extends 'page_accueil.html' %}
{% load static %}
{% block content  %}
<section id="features" class="services-area pt-120">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="section-title text-center pb-40">
            <div class="line m-auto"></div>
            <h3 class="title">
              Découvrez nos différentes services
              <span> </span>
            </h3>
          </div>
          <!-- section title -->
        </div>
      </div>
      <!-- row -->
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.2s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="{% static 'assets/images/services/whiskey.jpg'%}"
                alt="shape"
              />
              
              
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a href="javascript:void(0)">Whiskey</a>
              </h4>
              <p class="text">
               whisky: Blackhat, Jackdaniel, impérial
               biere: Pils, Beaufort, Doppel 
               sucrerie: Coktail, Malt, Limonade 
              </p>
             
            </div>
          </div>
          <!-- single services -->
        </div>
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.5s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="{% static 'assets/images/services/vin.jpg' %}"
                alt="shape"
              />
              
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a href="javascript:void(0)">vin</a>
              </h4>
              <p class="text">
                Des vins a bon goût
              </p>
              
            </div>
          </div>
          <!-- single services -->
        </div>
        <div class="col-lg-4 col-md-7 col-sm-8">
          <div
            class="single-services text-center mt-30 wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.8s"
          >
            <div class="services-icon">
              <img
                class="shape"
                src="{% static 'assets/images/services/burger.jpg' %}"
                alt="shape"
              />
             
            </div>
            <div class="services-content mt-30">
              <h4 class="services-title">
                <a href="javascript:void(0)">Boulangerie</a>
              </h4>
              <p class="text">
                Burger, schawamar, pizza, pain au sandwich/jambon, croissant 
              </p>
              
            </div>
          </div>
          <!-- single services -->
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </section>
{% endblock %}
